* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(rgb(123, 255, 0),green,red); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html{
    overflow-x: hidden;
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(98, 97, 97);
  padding: 50px;
}
.moviecardTitle {
  font-size: 30px;
  color: rgba(243, 224, 17, 0.793);
  text-shadow: 3px 5px 10px black;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.moviecardType,
.movieYear {
  text-transform: uppercase;
  text-shadow: 3px 5px 5px black;
  color: #fff;
  padding-bottom: 5px;
  font-weight: 800;
}
.empty {
  display: flex;
  justify-content: center;
}

.searchContainer {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Maincontainer {
  display: grid;
  grid-template-rows: repeat(5, minmax(1fr, min-content));
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.header {
  text-transform: uppercase;
  font-size: 35px;
}
.searchBar {
  height: 40px;
  width: 350px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 15px;
  outline: none;
  border: none;
}
.searchBar:focus {
  border: 3px solid black;
}
.searchBtn {
  height: 40px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  border: 3px solid black;
}
a {
  text-decoration: none;
}

.anchor {
  text-decoration: none;
  color: black;
}

.movieContainer {
  cursor: pointer;
  text-decoration: none;
  /* min-height: 350px;
  width: 250px; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-shadow: 0px 3px 19px black;
  transition: transform 0.3s ease-in;
}
.movieContainer:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.movieContainer > img {
  margin-top: 10px;
  width: 100%;
  object-fit: contain;
  height: 250px;
}

@media only screen and (max-width: 960px) {
  .Maincontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 730px) {
  .Maincontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 510px) {
  .Maincontainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.movieDetails {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movieDetails > img {
  height: 200px;
  width: 200px;
}

.mainBox {
  height: 100vh;
  width: 100vw;
  background-color: rgb(98, 97, 97);
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  max-width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftBox {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  overflow: hidden;
  box-shadow: 0px 3px 20px black;
}
img {
  width: 100%;
  /* height: 100%; */
  object-position: center;
  object-fit: cover;
}
.rightBox {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  padding-right: 10px;
  color: white;
  justify-content: center;
}
.movieTitle {
  font-size: 35px;
  color: rgba(243, 224, 17, 0.793);
  text-shadow: 0px 2px 5px black;
}
